# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [27]:
import pandas as pd
import random
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [7]:
cars1=pd.read_csv('cars1.csv')
cars2=pd.read_csv('cars2.csv')
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [14]:
cars1= cars1[[e for e in cars1.columns if 'Unnamed' not in e]]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [16]:
print cars1.shape[0]
print cars2.shape[0]

198
200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [52]:
cars = pd.concat([cars1,cars2])
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [54]:
owners=np.random.random_integers(15000,73000,398)
owners

array([52468, 55475, 52806, 15408, 25503, 69207, 35959, 29995, 46369,
       60643, 17801, 39753, 46645, 50654, 35102, 24687, 31500, 45934,
       51269, 22859, 45003, 34838, 22348, 39362, 53998, 18139, 50068,
       58576, 64460, 50237, 23334, 26588, 47600, 67257, 36866, 62183,
       27782, 47787, 39874, 20228, 18052, 37982, 19268, 19265, 53879,
       33123, 38476, 16555, 35799, 34290, 40164, 72506, 16445, 26835,
       55755, 30332, 22384, 59438, 71233, 17233, 72679, 18451, 43883,
       57321, 24674, 71361, 21208, 60835, 63984, 28989, 65568, 71760,
       52154, 45738, 49002, 38082, 59893, 68403, 37837, 32208, 67188,
       69869, 36104, 68887, 50916, 15082, 44942, 33672, 50342, 30893,
       26238, 72799, 45700, 23696, 25216, 68271, 45804, 21681, 31954,
       32972, 45375, 20178, 72473, 34830, 18336, 22125, 51732, 24709,
       61512, 49077, 17547, 52914, 65132, 34326, 38147, 50024, 70134,
       34038, 58690, 43268, 15538, 41859, 51038, 48804, 49031, 22472,
       61487, 26916, 65770, 23735, 67463, 71909, 67277, 36100, 30898,
       51311, 57666, 59584, 59635, 41594, 44795, 38698, 35893, 37178,
       70202, 41760, 33072, 54014, 66510, 30061, 22624, 24179, 39187,
       50015, 44456, 35278, 48791, 36958, 60877, 19961, 57723, 24041,
       44327, 42306, 63551, 16266, 45647, 38370, 55912, 45908, 21000,
       15526, 57852, 31040, 52052, 57467, 25446, 31301, 55015, 38549,
       59275, 70421, 24181, 40494, 26507, 43882, 57909, 23975, 15855,
       68965, 43699, 55528, 16637, 29545, 60165, 33730, 72530, 41816,
       17439, 37647, 38546, 30966, 72439, 71955, 56827, 63306, 38193,
       49090, 17502, 25689, 20319, 28766, 67725, 32494, 18404, 34375,
       67598, 65834, 22512, 30416, 72982, 49569, 32047, 55868, 30048,
       36084, 36432, 55147, 33328, 20925, 25172, 25471, 36699, 38719,
       71053, 47093, 26481, 29016, 71633, 59582, 56725, 30767, 15986,
       31798, 40610, 72180, 48477, 66816, 37965, 52015, 23749, 68342,
       67414, 55526, 33410, 43963, 44656, 60677, 32055, 55544, 71597,
       39502, 65279, 29978, 50282, 52949, 22372, 44663, 42058, 47463,
       69003, 70387, 15392, 25533, 52080, 29096, 47846, 45704, 49652,
       50056, 71058, 64031, 26250, 43222, 46192, 29193, 51828, 23239,
       28866, 25925, 56086, 22930, 23766, 22443, 23257, 56429, 68057,
       19058, 32118, 54853, 49624, 19935, 39197, 57012, 41041, 44165,
       19930, 26458, 65580, 52876, 55868, 45212, 17860, 37148, 48044,
       68520, 21184, 51780, 51295, 44459, 17660, 34830, 31601, 50312,
       41820, 72637, 51444, 52983, 28931, 67235, 53619, 66971, 22756,
       61709, 63438, 41189, 26782, 18175, 15669, 41031, 29340, 63644,
       67142, 63427, 46297, 31313, 44634, 33254, 46735, 15798, 18103,
       56918, 55795, 52751, 63122, 33461, 24733, 62730, 35871, 53336,
       59912, 44634, 36309, 62282, 27343, 20542, 67595, 52928, 69525,
       63066, 66115, 60962, 27288, 33866, 64445, 62730, 18459, 72400,
       31377, 59696, 59280, 44852, 47986, 56969, 63545, 65092, 33034,
       53448, 45875, 43797, 63886, 50047, 52868, 43062, 43881, 62288,
       29612, 31037])

/Users/marcel/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: DeprecationWarning: This function is deprecated. Please call randint(15000, 73000 + 1) instead
  if __name__ == '__main__':

### Step 8. Add the column owners to cars

In [55]:
cars['owners']=owners

In [56]:
cars.head()

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  owners
0       1  chevrolet chevelle malibu   52468
1       1          buick skylark 320   55475
2       1         plymouth satellite   52806
3       1              amc rebel sst   15408
4       1                ford torino   25503