# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Create the DataFrame with the following values:

In [3]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [7]:
regiment=pd.DataFrame(raw_data)
regiment.head(10)

  company      name  postTestScore  preTestScore    regiment
0     1st    Miller             25             4  Nighthawks
1     1st  Jacobson             94            24  Nighthawks
2     2nd       Ali             57            31  Nighthawks
3     2nd    Milner             62             2  Nighthawks
4     1st     Cooze             70             3    Dragoons
5     1st     Jacon             25             4    Dragoons
6     2nd    Ryaner             94            24    Dragoons
7     2nd      Sone             57            31    Dragoons
8     1st     Sloan             62             2      Scouts
9     1st     Piger             70             3      Scouts

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [13]:
regiment.groupby(['regiment']).preTestScore.mean()['Nighthawks']

15.25

### Step 5. Present general statistics by company

In [14]:
regiment.groupby('company').describe()

               postTestScore  preTestScore
company
1st     count       6.000000      6.000000
        mean       57.666667      6.666667
        std        27.485754      8.524475
        min        25.000000      2.000000
        25%        34.250000      3.000000
        50%        66.000000      3.500000
        75%        70.000000      4.000000
        max        94.000000     24.000000
2nd     count       6.000000      6.000000
        mean       67.000000     15.500000
        std        14.057027     14.652645
        min        57.000000      2.000000
        25%        58.250000      2.250000
        50%        62.000000     13.500000
        75%        68.000000     29.250000
        max        94.000000     31.000000

### Step 6. What is the mean each company's preTestScore?

In [16]:
regiment.groupby('company').preTestScore.mean()

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

### Step 7. Present the mean preTestScores grouped by regiment and company

In [18]:
regiment.groupby(['regiment', 'company']).preTestScore.mean()

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [29]:
grouped = regiment.groupby('regiment')
for name, group in grouped:
    print name
    grouped2 = group.groupby('company')
    for name2, group2 in grouped2:
	print name2,
	print group2.preTestScore.mean()

Dragoons
1st 3.5
2nd 27.5
Nighthawks
1st 14.0
2nd 16.5
Scouts
1st 2.5
2nd 2.5

### Step 9. Group the entire dataframe by regiment and company

In [31]:
grouped = regiment.groupby(['regiment', 'company'])

### Step 10. What is the number of observations in each regiment and company

In [39]:
for name, group in grouped:
    print name
    print group.name.count()

('Dragoons', '1st')
2
('Dragoons', '2nd')
2
('Nighthawks', '1st')
2
('Nighthawks', '2nd')
2
('Scouts', '1st')
2
('Scouts', '2nd')
2

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [41]:
for name, group in regiment.groupby('regiment'):
    print name
    print group

Dragoons
  company    name  postTestScore  preTestScore  regiment
4     1st   Cooze             70             3  Dragoons
5     1st   Jacon             25             4  Dragoons
6     2nd  Ryaner             94            24  Dragoons
7     2nd    Sone             57            31  Dragoons
Nighthawks
  company      name  postTestScore  preTestScore    regiment
0     1st    Miller             25             4  Nighthawks
1     1st  Jacobson             94            24  Nighthawks
2     2nd       Ali             57            31  Nighthawks
3     2nd    Milner             62             2  Nighthawks
Scouts
   company   name  postTestScore  preTestScore regiment
8      1st  Sloan             62             2   Scouts
9      1st  Piger             70             3   Scouts
10     2nd  Riani             62             2   Scouts
11     2nd    Ali             70             3   Scouts