# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [5]:
users=pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='\|')
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

/Users/marcel/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

### Step 4. Discover what is the mean age per occupation

In [8]:
users.groupby('occupation').age.mean().sort_values(ascending='False')

occupation
student          22.081633
none             26.555556
entertainment    29.222222
artist           31.392857
homemaker        32.571429
programmer       33.121212
technician       33.148148
other            34.523810
scientist        35.548387
salesman         35.666667
writer           36.311111
engineer         36.388060
lawyer           36.750000
marketing        37.615385
executive        38.718750
administrator    38.746835
librarian        40.000000
healthcare       41.562500
educator         42.010526
doctor           43.571429
retired          63.071429
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [89]:
grouped = users.groupby(['occupation'])
s=pd.Series()
for name, group in grouped.gender:
    s[name] = group.value_counts()['M']/float(group.count())*100
s.sort_values(ascending=False)

doctor           100.000000
engineer          97.014925
technician        96.296296
retired           92.857143
programmer        90.909091
executive         90.625000
scientist         90.322581
entertainment     88.888889
lawyer            83.333333
salesman          75.000000
educator          72.631579
student           69.387755
other             65.714286
marketing         61.538462
writer            57.777778
none              55.555556
administrator     54.430380
artist            53.571429
librarian         43.137255
healthcare        31.250000
homemaker         14.285714
dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [91]:
grouped.age.agg(['min','max'])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

### Step 7. For each combination of occupation and gender, calculate the mean age

In [93]:
users.groupby(['occupation','gender']).age.agg(['mean'])

                           mean
occupation    gender
administrator F       40.638889
              M       37.162791
artist        F       30.307692
              M       32.333333
doctor        M       43.571429
educator      F       39.115385
              M       43.101449
engineer      F       29.500000
              M       36.600000
entertainment F       31.000000
              M       29.000000
executive     F       44.000000
              M       38.172414
healthcare    F       39.818182
              M       45.400000
homemaker     F       34.166667
              M       23.000000
lawyer        F       39.500000
              M       36.200000
librarian     F       40.000000
              M       40.000000
marketing     F       37.200000
              M       37.875000
none          F       36.500000
              M       18.600000
other         F       35.472222
              M       34.028986
programmer    F       32.166667
              M       33.216667
retired       F       70.000000
              M       62.538462
salesman      F       27.000000
              M       38.555556
scientist     F       28.333333
              M       36.321429
student       F       20.750000
              M       22.669118
technician    F       38.000000
              M       32.961538
writer        F       37.631579
              M       35.346154

### Step 8.  For each occupation present the percentage of women and men

In [106]:
grouped = users.groupby(['occupation'])
for name, group in grouped.gender:
    print name
    males = group.value_counts()['M']/float(group.count())*100
    print 'Male ' + str(males)
    print 'Female ' + str(100-males)

administrator
Male 54.4303797468
Female 45.5696202532
artist
Male 53.5714285714
Female 46.4285714286
doctor
Male 100.0
Female 0.0
educator
Male 72.6315789474
Female 27.3684210526
engineer
Male 97.0149253731
Female 2.98507462687
entertainment
Male 88.8888888889
Female 11.1111111111
executive
Male 90.625
Female 9.375
healthcare
Male 31.25
Female 68.75
homemaker
Male 14.2857142857
Female 85.7142857143
lawyer
Male 83.3333333333
Female 16.6666666667
librarian
Male 43.137254902
Female 56.862745098
marketing
Male 61.5384615385
Female 38.4615384615
none
Male 55.5555555556
Female 44.4444444444
other
Male 65.7142857143
Female 34.2857142857
programmer
Male 90.9090909091
Female 9.09090909091
retired
Male 92.8571428571
Female 7.14285714286
salesman
Male 75.0
Female 25.0
scientist
Male 90.3225806452
Female 9.67741935484
student
Male 69.387755102
Female 30.612244898
technician
Male 96.2962962963
Female 3.7037037037
writer
Male 57.7777777778
Female 42.2222222222

In [105]:
users.groupby(['occupation','gender']).user_id.count()

occupation     gender
administrator  F          36
               M          43
artist         F          13
               M          15
doctor         M           7
educator       F          26
               M          69
engineer       F           2
               M          65
entertainment  F           2
               M          16
executive      F           3
               M          29
healthcare     F          11
               M           5
homemaker      F           6
               M           1
lawyer         F           2
               M          10
librarian      F          29
               M          22
marketing      F          10
               M          16
none           F           4
               M           5
other          F          36
               M          69
programmer     F           6
               M          60
retired        F           1
               M          13
salesman       F           3
               M           9
scientist      F           3
               M          28
student        F          60
               M         136
technician     F           1
               M          26
writer         F          19
               M          26
Name: user_id, dtype: int64