# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

### Step 3. Assign it to a variable called

,evolution,hp,name,pokedex,type
0,Ivysaur,45,Bulbasaur,yes,grass
1,Charmeleon,39,Charmander,no,fire
2,Wartortle,44,Squirtle,yes,water
3,Metapod,45,Caterpie,no,bug

In [6]:
raw=[{'evolution':'Ivysaur','hp':45,'name':'Bulbasaur','pokedex':'yes','type':'grass'},
{'evolution':'Charmeleon','hp':39,'name':'Charmander','pokedex':'no','type':'fire'},
{'evolution':'Wartortle','hp':44,'name':'Squirtle','pokedex':'yes','type':'water'},
{'evolution':'Metapod','hp':45,'name':'Caterpie','pokedex':'no','type':'bug'}]
df = pd.DataFrame(raw)
df

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [9]:
df = df[['name', 'type', 'hp', 'evolution', 'pokedex']]
df

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [10]:
df['place'] = ['A','B','C','D']
df

         name   type  hp   evolution pokedex place
0   Bulbasaur  grass  45     Ivysaur     yes     A
1  Charmander   fire  39  Charmeleon      no     B
2    Squirtle  water  44   Wartortle     yes     C
3    Caterpie    bug  45     Metapod      no     D

### Step 6. Present the type of each column

In [11]:
df.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.