# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [2]:
baby_names = pd.read_csv('US_Baby_Names_right.csv')

### Step 4. See the first 10 entries

In [3]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [4]:
baby_names = baby_names.loc[:,'Name':'Count']
baby_names.head()

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

### Step 6. Is there more male or female names in the dataset?

In [5]:
baby_names['Gender'].value_counts()

F    558846
M    457549
Name: Gender, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [39]:
names = baby_names.groupby('Name').sum()

### Step 8. How many different names exist in the dataset?

In [40]:
len(names)

17632

### Step 9. What is the name with most occurrences?

In [42]:
names.Count.sort_values(ascending=False).head()

Name
Jacob       242874
Emma        214852
Michael     214405
Ethan       209277
Isabella    204798
Name: Count, dtype: int64

### Step 10. How many different names have the least occurrences?

In [50]:
len(names[names.Count==names.Count.min()])

2578

### Step 11. What is the median name occurrence?

In [51]:
names[names.Count==names.Count.median()]

             Year  Count
Name
Aishani     14078     49
Alara       16079     49
Alysse      16057     49
Ameir       16086     49
Anely       16071     49
Antonina    18081     49
Aveline     12065     49
Aziah       16073     49
Baily       16064     49
Caleah      18106     49
Carlota     14077     49
Cristine    14042     49
Dahlila     14063     49
Darvin      16078     49
Deante      18064     49
Deserae     18061     49
Devean       8019     49
Elizah      16063     49
Emmaly      16075     49
Emmanuela   18074     49
Envy        16070     49
Esli        16059     49
Fay         16072     49
Gurshaan    14070     49
Hareem      14090     49
Iven        14062     49
Jaice       16098     49
Jaiyana     14068     49
Jamiracle   18091     49
Jelissa     16070     49
...           ...    ...
Kyndle      16082     49
Kynsley     14084     49
Leylanie    16070     49
Maisha      14047     49
Malillany   14087     49
Mariann     16060     49
Marquell    16053     49
Maurilio    16058     49
Mckynzie    14068     49
Mehdi       16070     49
Nabeel      18070     49
Nalleli     16058     49
Nassir      16058     49
Nazier      16061     49
Nishant     16050     49
Rebecka     16061     49
Reghan      18073     49
Ridwan      16082     49
Riot        16104     49
Rubin       16055     49
Ryatt       16103     49
Sameera     18083     49
Sanjuanita  10035     49
Shalyn      18061     49
Skylie      16086     49
Sriram      14054     49
Trinton     16069     49
Vita        14075     49
Yoni        16060     49
Zuleima     14050     49

[66 rows x 2 columns]

### Step 12. What is the standard deviation of names?

In [57]:
names.Count.std()

11006.069467890569

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [58]:
names.Count.describe()

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64