# Fictional Army - Filtering and Sorting

### Introduction:

This exercise was inspired by this [page](http://chrisalbon.com/python/)

Special thanks to: https://github.com/chrisalbon for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. This is the data given as a dictionary

In [4]:
# Create an example dataframe about a fictional army
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

### Step 3. Create a dataframe and assign it to a variable called army. 

#### Don't forget to include the columns names

In [5]:
army=pd.DataFrame(raw_data)
army.head(5)

   armored  battles company  deaths  deserters      origin  readiness  \
0        1        5     1st     523          4     Arizona          1
1        0       42     1st      52         24  California          2
2        1        2     2nd      25         31       Texas          3
3        1        2     2nd     616          2     Florida          3
4        0        4     1st      43          3       Maine          2

     regiment  size  veterans
0  Nighthawks  1045         1
1  Nighthawks   957         5
2  Nighthawks  1099        62
3  Nighthawks  1400        26
4    Dragoons  1592        73

### Step 4. Set the 'origin' colum as the index of the dataframe

In [9]:
army.index=army.origin

### Step 5. Print only the column veterans

In [10]:
army.veterans

origin
Arizona         1
California      5
Texas          62
Florida        26
Maine          73
Iowa           37
Alaska        949
Washington     48
Oregon         48
Wyoming       435
Louisana       63
Georgia       345
Name: veterans, dtype: int64

### Step 6. Print the columns 'veterans' and 'deaths'

In [12]:
army[['veterans','deaths']]

            veterans  deaths
origin
Arizona            1     523
California         5      52
Texas             62      25
Florida           26     616
Maine             73      43
Iowa              37     234
Alaska           949     523
Washington        48      62
Oregon            48      62
Wyoming          435      73
Louisana          63      37
Georgia          345      35

### Step 7. Print the name of all the columns.

In [13]:
army.columns

Index([u'armored', u'battles', u'company', u'deaths', u'deserters', u'origin',
       u'readiness', u'regiment', u'size', u'veterans'],
      dtype='object')

### Step 8. Select the 'deaths', 'size' and 'deserters' columns from Maine and Alaska

In [18]:
army.loc[['Maine','Alaska']][['deaths','size','deserters']]

        deaths  size  deserters
origin
Maine       43  1592          3
Alaska     523   987         24

### Step 9. Select the rows 3 to 7 and the columns 3 to 6

In [20]:
army.iloc[3:7,3:6]

         deaths  deserters   origin
origin
Florida     616          2  Florida
Maine        43          3    Maine
Iowa        234          4     Iowa
Alaska      523         24   Alaska

### Step 10. Select every row after the fourth row

In [21]:
army.iloc[4:]

            armored  battles company  deaths  deserters      origin  \
origin
Maine             0        4     1st      43          3       Maine
Iowa              1        7     1st     234          4        Iowa
Alaska            0        8     2nd     523         24      Alaska
Washington        1        3     2nd      62         31  Washington
Oregon            0        4     1st      62          2      Oregon
Wyoming           0        7     1st      73          3     Wyoming
Louisana          1        8     2nd      37          2    Louisana
Georgia           1        9     2nd      35          3     Georgia

            readiness  regiment  size  veterans
origin
Maine               2  Dragoons  1592        73
Iowa                1  Dragoons  1006        37
Alaska              2  Dragoons   987       949
Washington          3  Dragoons   849        48
Oregon              2    Scouts   973        48
Wyoming             1    Scouts  1005       435
Louisana            2    Scouts  1099        63
Georgia             3    Scouts  1523       345

### Step 11. Select every row up to the 4th row

In [22]:
army[:4]

            armored  battles company  deaths  deserters      origin  \
origin
Arizona           1        5     1st     523          4     Arizona
California        0       42     1st      52         24  California
Texas             1        2     2nd      25         31       Texas
Florida           1        2     2nd     616          2     Florida

            readiness    regiment  size  veterans
origin
Arizona             1  Nighthawks  1045         1
California          2  Nighthawks   957         5
Texas               3  Nighthawks  1099        62
Florida             3  Nighthawks  1400        26

### Step 12. Select the 3rd column up to the 7th column

In [24]:
army.iloc[:,3:7]

            deaths  deserters      origin  readiness
origin
Arizona        523          4     Arizona          1
California      52         24  California          2
Texas           25         31       Texas          3
Florida        616          2     Florida          3
Maine           43          3       Maine          2
Iowa           234          4        Iowa          1
Alaska         523         24      Alaska          2
Washington      62         31  Washington          3
Oregon          62          2      Oregon          2
Wyoming         73          3     Wyoming          1
Louisana        37          2    Louisana          2
Georgia         35          3     Georgia          3

### Step 13. Select rows where df.deaths is greater than 50

In [25]:
army[army.deaths>50]

            armored  battles company  deaths  deserters      origin  \
origin
Arizona           1        5     1st     523          4     Arizona
California        0       42     1st      52         24  California
Florida           1        2     2nd     616          2     Florida
Iowa              1        7     1st     234          4        Iowa
Alaska            0        8     2nd     523         24      Alaska
Washington        1        3     2nd      62         31  Washington
Oregon            0        4     1st      62          2      Oregon
Wyoming           0        7     1st      73          3     Wyoming

            readiness    regiment  size  veterans
origin
Arizona             1  Nighthawks  1045         1
California          2  Nighthawks   957         5
Florida             3  Nighthawks  1400        26
Iowa                1    Dragoons  1006        37
Alaska              2    Dragoons   987       949
Washington          3    Dragoons   849        48
Oregon              2      Scouts   973        48
Wyoming             1      Scouts  1005       435

### Step 14. Select rows where df.deaths is greater than 500 or less than 50

In [29]:
army[(army.deaths>500) | (army.deaths<50)]

          armored  battles company  deaths  deserters    origin  readiness  \
origin
Arizona         1        5     1st     523          4   Arizona          1
Texas           1        2     2nd      25         31     Texas          3
Florida         1        2     2nd     616          2   Florida          3
Maine           0        4     1st      43          3     Maine          2
Alaska          0        8     2nd     523         24    Alaska          2
Louisana        1        8     2nd      37          2  Louisana          2
Georgia         1        9     2nd      35          3   Georgia          3

            regiment  size  veterans
origin
Arizona   Nighthawks  1045         1
Texas     Nighthawks  1099        62
Florida   Nighthawks  1400        26
Maine       Dragoons  1592        73
Alaska      Dragoons   987       949
Louisana      Scouts  1099        63
Georgia       Scouts  1523       345

### Step 15. Select all the regiments not named "Dragoons"

In [31]:
army[army.regiment != 'Dragoons']

            armored  battles company  deaths  deserters      origin  \
origin
Arizona           1        5     1st     523          4     Arizona
California        0       42     1st      52         24  California
Texas             1        2     2nd      25         31       Texas
Florida           1        2     2nd     616          2     Florida
Oregon            0        4     1st      62          2      Oregon
Wyoming           0        7     1st      73          3     Wyoming
Louisana          1        8     2nd      37          2    Louisana
Georgia           1        9     2nd      35          3     Georgia

            readiness    regiment  size  veterans
origin
Arizona             1  Nighthawks  1045         1
California          2  Nighthawks   957         5
Texas               3  Nighthawks  1099        62
Florida             3  Nighthawks  1400        26
Oregon              2      Scouts   973        48
Wyoming             1      Scouts  1005       435
Louisana            2      Scouts  1099        63
Georgia             3      Scouts  1523       345

### Step 16. Select the rows called Texas and Arizona

In [43]:
army.ix[['Texas', 'Arizona']]

         armored  battles company  deaths  deserters   origin  readiness  \
origin
Texas          1        2     2nd      25         31    Texas          3
Arizona        1        5     1st     523          4  Arizona          1

           regiment  size  veterans
origin
Texas    Nighthawks  1099        62
Arizona  Nighthawks  1045         1

### Step 17. Select the third cell in the row named Arizona

In [47]:
army.ix['Arizona'][3]

523

### Step 18. Select the third cell down in the column named deaths

In [42]:
army['deaths'][2]

25