# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [77]:
import pandas as pd
import numpy as np

### Step 2. Download the dataset from this [address](http://archive.ics.uci.edu/ml/datasets/STUDENT+ALCOHOL+CONSUMPTION).

### Step 3. Assign it to a variable called df.

In [38]:
df=pd.read_csv('student-mat.csv', sep=';')
df.head()

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher ...
1     GP   F   17       U     GT3       T     1     1  at_home     other ...
2     GP   F   15       U     LE3       T     1     1  at_home     other ...
3     GP   F   15       U     GT3       T     4     2   health  services ...
4     GP   F   16       U     GT3       T     3     3    other     other ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [39]:
df = df.loc[:,'school':'guardian']

### Step 5. Create a lambda function that captalize strings.

In [40]:
caps = lambda x: x[:1].upper() + x[1:]
caps('aaa')

'Aaa'

### Step 6. Capitalize both Mjob and Fjob

In [41]:
df.Mjob.apply(caps)
df.Fjob.apply(caps)
df.head()

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher
1     GP   F   17       U     GT3       T     1     1  at_home     other
2     GP   F   15       U     LE3       T     1     1  at_home     other
3     GP   F   15       U     GT3       T     4     2   health  services
4     GP   F   16       U     GT3       T     3     3    other     other

   reason guardian
0  course   mother
1  course   father
2   other   mother
3    home   mother
4    home   father

### Step 7. Print the last elements of the data set.

In [42]:
df.tail()

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     reason guardian
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

In [43]:
df.Mjob = df.Mjob.apply(caps)
df.Fjob = df.Fjob.apply(caps)
df.head()

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4  At_home   Teacher
1     GP   F   17       U     GT3       T     1     1  At_home     Other
2     GP   F   15       U     LE3       T     1     1  At_home     Other
3     GP   F   15       U     GT3       T     4     2   Health  Services
4     GP   F   16       U     GT3       T     3     3    Other     Other

   reason guardian
0  course   mother
1  course   father
2   other   mother
3    home   mother
4    home   father

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker

In [58]:
def majority(x):
  if x>=18:
    return True
  else:
    return False

In [63]:
df['legal_drinker'] = df.age.apply(majority)
df.head()

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4  At_home   Teacher
1     GP   F   17       U     GT3       T     1     1  At_home     Other
2     GP   F   15       U     LE3       T     1     1  At_home     Other
3     GP   F   15       U     GT3       T     4     2   Health  Services
4     GP   F   16       U     GT3       T     3     3    Other     Other

   reason guardian legal_drinker
0  course   mother          True
1  course   father         False
2   other   mother         False
3    home   mother         False
4    home   father         False

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [111]:
df2=df.applymap(lambda x: x*10 if np.issubdtype(type(x), np.number) else x)
df2.head()

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F  180       U     GT3       A    40    40  At_home   Teacher
1     GP   F  170       U     GT3       T    10    10  At_home     Other
2     GP   F  150       U     LE3       T    10    10  At_home     Other
3     GP   F  150       U     GT3       T    40    20   Health  Services
4     GP   F  160       U     GT3       T    30    30    Other     Other

   reason guardian legal_drinker
0  course   mother          True
1  course   father         False
2   other   mother         False
3    home   mother         False
4    home   father         False