# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [164]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [180]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://github.com/guipsamora/pandas_exercises/blob/master/Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [166]:

dateparser = lambda x,y,z: pd.datetime(int('19'+str(x)),int(y),int(z))
data=pd.read_table('wind.data',sep = "\s+", parse_dates = [[0,1,2]], date_parser=dateparser)
data.dtypes
data.head()

    Yr_Mo_Dy    RPT    VAL    ROS    KIL    SHA   BIR    DUB    CLA    MUL  \
0 1961-01-01  15.04  14.96  13.17   9.29    NaN  9.87  13.67  10.25  10.83
1 1961-01-02  14.71    NaN  10.83   6.50  12.62  7.67  11.50  10.04   9.79
2 1961-01-03  18.50  16.88  12.33  10.13  11.17  6.17  11.25    NaN   8.50
3 1961-01-04  10.58   6.63  11.75   4.58   4.54  2.88   8.63   1.79   5.83
4 1961-01-05  13.33  13.25  11.42   6.17  10.71  8.21  11.92   6.54  10.92

     CLO    BEL    MAL
0  12.58  18.50  15.04
1   9.67  17.54  13.83
2   7.67  12.75  12.71
3   5.88   5.46  10.88
4  10.34  12.92  11.83

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [167]:
df=pd.DataFrame(data.Yr_Mo_Dy).applymap(lambda x: str(x)[0:4])
df['Yr_Mo_Dy'].unique()

array(['1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976',
       '1977', '1978'], dtype=object)

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [168]:
data.index = data['Yr_Mo_Dy']
del data['Yr_Mo_Dy']
data.head()

              RPT    VAL    ROS    KIL    SHA   BIR    DUB    CLA    MUL  \
Yr_Mo_Dy
1961-01-01  15.04  14.96  13.17   9.29    NaN  9.87  13.67  10.25  10.83
1961-01-02  14.71    NaN  10.83   6.50  12.62  7.67  11.50  10.04   9.79
1961-01-03  18.50  16.88  12.33  10.13  11.17  6.17  11.25    NaN   8.50
1961-01-04  10.58   6.63  11.75   4.58   4.54  2.88   8.63   1.79   5.83
1961-01-05  13.33  13.25  11.42   6.17  10.71  8.21  11.92   6.54  10.92

              CLO    BEL    MAL
Yr_Mo_Dy
1961-01-01  12.58  18.50  15.04
1961-01-02   9.67  17.54  13.83
1961-01-03   7.67  12.75  12.71
1961-01-04   5.88   5.46  10.88
1961-01-05  10.34  12.92  11.83

In [169]:
data.index

DatetimeIndex(['1961-01-01', '1961-01-02', '1961-01-03', '1961-01-04',
               '1961-01-05', '1961-01-06', '1961-01-07', '1961-01-08',
               '1961-01-09', '1961-01-10',
               ...
               '1978-12-22', '1978-12-23', '1978-12-24', '1978-12-25',
               '1978-12-26', '1978-12-27', '1978-12-28', '1978-12-29',
               '1978-12-30', '1978-12-31'],
              dtype='datetime64[ns]', name=u'Yr_Mo_Dy', length=6574, freq=None)

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [170]:
data.apply(lambda x: x.isnull().sum())

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [171]:
data.apply(lambda x: x.count())

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [172]:
data.describe().mean().mean()

1241.7819070045446

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [173]:
loc_stats=data.describe().ix[['min','max','mean','std']]
loc_stats

            RPT        VAL        ROS        KIL        SHA        BIR  \
min    0.670000   0.210000   1.500000   0.000000   0.130000   0.000000
max   35.800000  33.370000  33.840000  28.460000  37.540000  26.160000
mean  12.362987  10.644314  11.660526   6.306468  10.455834   7.092254
std    5.618413   5.267356   5.008450   3.605811   4.936125   3.968683

            DUB        CLA        MUL        CLO        BEL        MAL
min    0.000000   0.000000   0.000000   0.040000   0.130000   0.670000
max   30.370000  31.080000  25.880000  28.210000  42.380000  42.540000
mean   9.797343   8.495053   8.493590   8.707332  13.121007  15.599079
std    4.977555   4.499449   4.166872   4.503954   5.835037   6.699794

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [174]:
dataT=data.transpose()
day_stats=dataT.describe().ix[['min','max','mean','std']]
day_stats

Yr_Mo_Dy  1961-01-01  1961-01-02  1961-01-03  1961-01-04  1961-01-05  \
min         9.290000    6.500000    6.170000    1.790000    6.170000
max        18.500000   17.540000   18.500000   11.750000   13.330000
mean       13.018182   11.336364   11.641818    6.619167   10.630000
std         2.808875    3.188994    3.681912    3.198126    2.445356

Yr_Mo_Dy  1961-01-06  1961-01-07  1961-01-08  1961-01-09  1961-01-10  \
min         4.420000    4.960000    5.910000    4.750000     6.54000
max        13.210000   14.290000   16.620000   15.370000    19.50000
mean        8.240000   10.385000   10.487500    9.897500    10.47750
std         2.998063    3.072114    3.547237    2.905954     3.44261

Yr_Mo_Dy     ...      1978-12-22  1978-12-23  1978-12-24  1978-12-25  \
min          ...        2.460000    9.500000    4.790000    0.750000
max          ...       13.080000   22.210000   31.710000   13.960000
mean         ...        7.000833   15.613333   10.823333    5.729167
std          ...        3.237337    3.850840    7.195039    3.583263

Yr_Mo_Dy  1978-12-26  1978-12-27  1978-12-28  1978-12-29  1978-12-30  \
min         1.960000    8.080000    5.000000    8.710000    9.130000
max        13.830000   40.080000   41.460000   29.580000   28.790000
mean        6.523333   16.708333   15.150000   14.890000   15.367500
std         4.304510    7.868076    9.687857    5.756836    5.540437

Yr_Mo_Dy  1978-12-31
min         9.590000
max        27.290000
mean       15.402500
std         5.702483

[4 rows x 6574 columns]

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [197]:
d= data.apply(lambda x: x.resample('M').mean())
d['month'] = d.index.strftime('%b')
d.head()

                  RPT        VAL        ROS       KIL        SHA        BIR  \
Yr_Mo_Dy
1961-01-31  14.841333  11.988333  13.431613  7.736774  11.072759   8.588065
1961-02-28  16.269286  14.975357  14.441481  9.230741  13.852143  10.937500
1961-03-31  10.890000  11.296452  10.752903  7.284000  10.509355   8.866774
1961-04-30  10.722667   9.427667   9.998000  5.830667   8.435000   6.495000
1961-05-31   9.860968   8.850000  10.818065  5.905333   9.490323   6.574839

                  DUB        CLA        MUL        CLO        BEL        MAL  \
Yr_Mo_Dy
1961-01-31  11.184839   9.245333   9.085806  10.107419  13.880968  14.703226
1961-02-28  11.890714  11.846071  11.821429  12.714286  18.583214  15.411786
1961-03-31   9.644194   9.829677  10.294138  11.251935  16.410968  15.720000
1961-04-30   6.925333   7.094667   7.342333   7.237000  11.147333  10.278333
1961-05-31   7.604000   8.177097   8.039355   8.499355  11.900323  12.011613

           month
Yr_Mo_Dy
1961-01-31   Jan
1961-02-28   Feb
1961-03-31   Mar
1961-04-30   Apr
1961-05-31   May

In [204]:
d2 = d[d.month=='Jan']
del d2['month']
d2.apply(np.mean)

RPT    14.847314
VAL    12.912900
ROS    13.299624
KIL     7.199498
SHA    11.665601
BIR     8.054839
DUB    11.819355
CLA     9.511569
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [189]:
d= data.apply(lambda x: x.resample('A').mean())
d.apply(np.mean)

RPT    12.363081
VAL    10.644245
ROS    11.660483
KIL     6.307105
SHA    10.456166
BIR     7.092568
DUB     9.797499
CLA     8.495382
MUL     8.493922
CLO     8.707715
BEL    13.121140
MAL    15.598309
dtype: float64

### Step 13. Downsample the record to a monthly frequency for each location.

In [205]:
d= data.apply(lambda x: x.resample('M').mean())
d.apply(np.mean)

RPT    12.368624
VAL    10.651079
ROS    11.667385
KIL     6.310612
SHA    10.461108
BIR     7.094739
DUB     9.803804
CLA     8.499322
MUL     8.497848
CLO     8.710474
BEL    13.123117
MAL    15.605555
dtype: float64

### Step 14. Downsample the record to a weekly frequency for each location.

In [206]:
d= data.apply(lambda x: x.resample('W').mean())
d.apply(np.mean)

RPT    12.365304
VAL    10.647725
ROS    11.661255
KIL     6.309334
SHA    10.455607
BIR     7.094787
DUB     9.801271
CLA     8.496123
MUL     8.496452
CLO     8.710639
BEL    13.125912
MAL    15.597171
dtype: float64

### Step 15. Calculate the mean windspeed for each month in the dataset.  
#### Treat January 1961 and January 1962 as *different* months.
#### (hint: first find a  way to create an identifier unique for each month.)

### Step 16. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.